<%= form_for note do |f| %>
  <div class="form-group">
    <!-- Personal -->
    <div class="">
      <div class="input-field col s12">
        <%= f.text_area :personal, class: 'materialize-textarea', length: 10000, type: 'text' %>
        <label for="textarea1" id="label-align">My Personal Note</label>
      </div>
    </div>
    <!-- Shared -->
    <div class="">
      <div class="input-field col s12">
        <%= f.text_area :shared, class: 'materialize-textarea', length: 300, type: 'text' %>
        <label for="textarea1" id="label-align">My Shared Note</label>
      </div>
    </div>
    <!-- Progress -->
    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field col s12">
        <%= f.text_field :progress, length: 40, type: 'text', autocomplete: 'off' %>
        <label for="input_text">My Progress</label>
      </div>
    </div>
    <!-- Rating -->
    <form action="#">
      <p class="range-field">
        <label for="test5" style="font-size: 1rem">Rating: <span id="score"><%= @note.rating %></span></label>
        <%= f.text_field :rating, id:'test5', type: 'range', min: 0, max: 10 %>
      </p>
    </form>
    <!-- Completed -->
    <div class="row watched" style="margin-bottom: 10px;">
      <div class="completed">
        <%= f.check_box :completed, id:"completed" %>
        <%= f.label "Finished it? When?", for:"completed", id:"completed" %>
      </div>
      <!-- Date Completed -->
      <div class="date-picker">
        <%= f.text_field :date_completed, id: 'date_completed', type: 'date', class: 'datepicker', placeholder: "yyyy-mm-dd" %>
      </div>
    </div>

  <% if @movie.present? %>
    <%= f.hidden_field :movie_id, value: @movie['id'] %>
    <%= f.fields_for :movie, Movie.new do |ff| %>
      <%= ff.hidden_field :id, value: @movie['id'] %>
      <%= ff.hidden_field :title, value: @movie['title'] %>
      <%= ff.hidden_field :poster_path, value: @movie['poster_path'] %>
      <%= ff.hidden_field :overview, value: @movie['overview'] %>
      <%= ff.hidden_field :release_date, value: @movie['release_date'] %>
    <% end %>
  <% end %>

  <% if @tvshow.present? %>
    <%= f.hidden_field :tvshow_id, value: @tvshow['id'] %>
    <%= f.fields_for :tvshow, Tvshow.new do |ff| %>
      <%= ff.hidden_field :id, value: @tvshow['id'] %>
      <%= ff.hidden_field :name, value: @tvshow['name'] %>
      <%= ff.hidden_field :poster_path, value: @tvshow['poster_path'] %>
      <%= ff.hidden_field :overview, value: @tvshow['overview'] %>
      <%= ff.hidden_field :first_air_date, value: @tvshow['first_air_date'] %>
    <% end %>
  <% end %>


  <div class="form-group" style="display: flex; justify-content: space-around">
    <%= f.submit "Save Note", class: 'btn btn-success' %>
    <% if @note.id != nil %>
      <%= link_to "Erase Note", @note, method: :delete, class: 'waves-effect waves-light btn red darken-4', data: {confirm: 'Are you sure you want to erase this note?'} %>
    <% end %>
  </div>
<% end %>

<script>
$('#score').each(function(){
  if($(this).text() <= 3)$(this).css('color','#B55C5C');
  if($(this).text() >= 4)$(this).css('color','#A98B43');
  if($(this).text() >= 7)$(this).css('color','#80A943');
});
</script>
