<div class="">
  <div class="card_wrapper">
    <div class="card">
      <% if current_user %>
        <% if current_user.movies.pluck(:movie_id).include?(show_or_movie.id) || current_user.tvshows.pluck(:tvshow_id).include?(show_or_movie.id) %>
          <div class="ribbon"><span>Watched</span></div>
        <% end %>
      <% end %>
      <% if show_or_movie.poster_path.blank? %>
        <%= image_tag "no_poster.png" %>
      <% else %>
        <img src="http://image.tmdb.org/t/p/w342<%= show_or_movie.poster_path %>">
      <% end %>
        <div class="card_content">
          <div class="card_content_header">
            <h3>
              <%= link_to truncate(name_or_title, length: 30), controller: "welcome", action: action, id: show_or_movie.id %>
              <% unless release_or_first_air_date.blank? %>
                <span class="card_content_year">(<%= release_or_first_air_date[0 .. 3] %>)</span>
              <% end %>
            </h3>
          </div>
        <div class="card_content_info">
          <% if show_or_movie.overview.blank? %>
            <p>Currently there is no description.<p/>
          <% else %>
            <p><%= truncate(show_or_movie.overview, :length => 265, :separator => '.') %></p>
          <% end %>
          <%= link_to "Write a note.", {controller: "welcome", action: action, id: show_or_movie.id}, class:"card_content_footer" %>
        </div>
      </div>
    </div>
  </div>
</div>
