<div class="col-sm-4">
  <div class="container">
    <div class="card">
      <div class="header">
        <h4><%= movie.title %> </h4>
      </div>
      <div class="thumb">
        <img src="http://image.tmdb.org/t/p/w342<%= movie.poster_path %>">
      <div id="year">
        (<%= movie.release_date[0 .. 3] %>)
      </div>
      <div id="addit">
        <%= link_to "Add It!", root_path, class: 'btn btn-info btn-sm' %>
      </div>
      </div>
      <div class="info">
      <p><%= truncate(movie.overview, :length => 265, :separator => '.') %></p>
      </div>
    </div>
  </div>
</div>
