<script>
$(document).ready(function(){
    $("#footer-header").click(function(){
        $(".shared-note").slideToggle("fast");
    });
});
</script>

<!-- New flex design -->
<div class="movie_or_tvshow_show">
  <div class="wrapper">
    <header class="header">
        <div id="title"><%= name_or_title %> <span id="year">(<%= release_or_first_air_date[0 .. 3] %>)</span></div>
    </header>
    <aside class="aside aside-1">
      <div id="poster-section">
        <% if show_or_movie['poster_path'].blank? %>
          <%= image_tag "no_poster.png" %>
        <% else %>
          <img src="http://image.tmdb.org/t/p/w342<%= show_or_movie['poster_path'] %>">
        <% end %>
        <% unless show_or_movie['tagline'].blank? %>
          <div id="tagline">
            "<%= show_or_movie['tagline'] %>"
          </div>
        <% end %>
      </div>
    </aside>
    <article class="main">
      <div id="description">
      <% if show_or_movie['overview'].blank? %>
        <p>Currently there is no description.<p/>
      <% else %>
        <%= show_or_movie['overview'] %>
      <% end %>
      <hr>
        <div id="more-info">
          <p>Genres: <% show_or_movie['genres'].each do |k| %>
            <span class="label label-default"><%= k['name'] %></span>
            <% end %>
          </p>
          <p><%= "Runtime: #{show_or_movie['runtime']} mins" if show_or_movie['runtime'].present? %></p>
          <p><%= "Seasons: #{show_or_movie['number_of_seasons']}" if show_or_movie['number_of_seasons'].present? %></p>
          <p><%= "Episodes: #{show_or_movie['number_of_episodes']}" if show_or_movie['number_of_episodes'].present? %></p>
          <p><%= "Status: #{show_or_movie['status']}" if show_or_movie['status'].present? %></p>
        </div>
      </div>
    </article>
    <aside class="aside aside-2">
        <% if user_signed_in? %>
          <div class="note">
            <%= render partial: 'notes/form', locals: {note: @note, movie: show_or_movie} %>
          </div>
        <% end %>
    </aside>
    <footer class="footer">
      <div id="footer-header">
        <p><%= @notes.count %> Shared Notes. Click to see them.</p>
      </div>
      <div class="shared-note" style="display: none">
      <% @notes.each do |n| %>
        <%= render partial: "notes/shared", locals: {note: n} %>
      <% end %>
      </div>
    </footer>
  </div>


  <p> <%= show_or_movie %> </p>

</div>
