<div class="container">
  <div class="details">
    <div class="details_header">
      <h3><%= movie['title'] %><span id="header_year">(<%= movie['release_date'][0 .. 3] %>)</span></h3>
    </div>
    <div class="details_left">
      <div class="poster">
        <% if movie['poster_path'].blank? %>
          <%= image_tag "no_poster.png" %>
        <% else %>
          <img src="http://image.tmdb.org/t/p/w342<%= movie['poster_path'] %>">
        <% end %>
      </div>
      <div>
        <% unless movie['tagline'].blank? %>
          <div id="tagline">
            "<%= movie['tagline'] %>"
          </div>
        <% end %>
      </div>
    </div>
    <div class="details_info">
      <p><%= movie['overview'] %></p>
    </div>
    <div class="details_header">
      <h4>Additional Info</h4>
    </div>
  </div>
</div>
<p> <%= movie %> </p>
