<h1>Review it.</h1>

<div class="jumbotron">
  <center>
    <h3>Want to make a note about a movie for yourself?</h3>
      <form method='post' data-remote='true'>
      <input name='_method' type='hidden' value='patch' />
    </form>

    <%= form_tag(search_path, {method: "get"}) do %>
      <div id="search_box">
        <%= text_field_tag :q, "", required: true %>
      </div>
      <div id="search_btn">
        <%= submit_tag "Search", class: 'btn btn-info btn-xl' %>
      </div>
    <% end %>
  </center>
</div>

<!-- Search results -->
<% if @movies != nil && @tv_shows != nil %>

  <center>
      <%= select("filter", "category", [["All", 0], ["Movies", 1], ["TV Shows", 2]], {}, onChange: "javascript: onChange(event);") %>

      <h3>Movies</h3>
        <% if @movies.blank? %>
          <div class="container">
            <h3>No matches found. Please try again.<h3>
          </div>
        <% else %>
          <div id="movies" class="row">
            <div class="movies-shows-container">
              <%= render partial: "movies/movie", collection: @movies %>
            </div>
          </div>
        <% end %>

      <h3>TV shows </h3>
        <% if @tv_shows.blank? %>
            <h3>No matches found. Please try again.<h3>
        <% else %>
          <div class="movies-shows-container" id="tv-shows">
            <%= render partial: "tv_shows/tv_show", collection: @tv_shows %>
          </div>
        <% end %>
    <% end %>
  </center>
</div>
