<div class="container"><h1>Review it.</h1></div>

<div class="container">
  <div class="jumbotron">
    <center><h3>Want to make a note about a movie for yourself?</h3></center>
    <center>
      <form method='post' data-remote='true'>
      <input name='_method' type='hidden' value='patch' />
    </form>

    <%= form_tag({:action => "search"}, {:method => "get"}) do %>
    <div id="search_box">
      <%= text_field_tag :q %>
    </div>
    <div id="search_btn">
      <%= submit_tag "Search", class: 'btn btn-info btn-xl' %>
    </div>
    <% end %>
  </center>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <% if user_signed_in? %>
        <h3 class="text-left">Latest Reviews</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      <% else %>
        <h3 class="text-center">Start making a list of what you have seen!</h3>
        <p><center><%= link_to "Get Started.", new_user_registration_path, class: 'btn btn-success' %></center></p>
      <% end %>
    </div>

    <form method='post' data-remote='true'>
      <input name='_method' type='hidden' value='patch' />
    </form>

    <%= form_tag({:action => "tv_search"}, {:method => "get"}) do %>
    <div id="search_box">
      <%= text_field_tag :q %>
    </div>
    <div id="search_btn">
      <%= submit_tag "Search", class: 'btn btn-info btn-xl' %>
    </div>
    <% end %>

    <% if @shows.nil? %>
    <% else %>
      <% @shows.each do |s| %>
        <%= render partial: 'welcome/show_card', locals: {show: s} %>
      <% end %>
    <% end %>

    <br/><br/><br/>
    <%= select("filter", "category", [["All", 0], ["Movies", 1], ["TV Shows", 2]], {}, onChange: "javascript: onChange(event);") %>

    <% if @movies %>
      <div id="movies" class="row">
        <h3>Movies</h3>
        <% @movies.each do | m | %>
          <%= render partial: 'welcome/movie_card', locals: {movie: m} %>
        <% end %>
      </div>
    <% end %>

    <% if @tv_shows %>
      <div id="tv-shows" class="row">
        <h3>TV shows </h3>
        <% @tv_shows.each do |s| %>
          <%= render partial: 'welcome/tvshow_card', locals: {show: s} %>
        <% end %>
      </div>
    <% end %>

    <div class="col-sm-2">
    </div>
  </div>
</div>
